@page
@model IndexModel
@{
    ViewData["Title"] = "Home page test 2";
}

<div class="text-center">
    <h1 class="display-4">Welcome đến nhà toi buôn dam dang lam a</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web tôi nè</a>.</p>
</div>
